@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

:root {
  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}

body {
  min-height: 100vh;
}
